<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>
        <h1>Poprawiony Jarkowy tytuł</h1>
    <nav>
        <ul>
            <li>
                <a href="{{ path('stepy-akermanskie') }}">Stepy akermańskie</a>
            </li>
            
            <li>
                <a href="{{ path('katar') }}">Katar</a>
            </li>

            <!-- A -->
            <li>
            <a href="{{ path('marsz') }}">Marsz</a>
            </li>
       
            <li>
            <a href="{{ path('aby_sie_stalo') }}">Aby sie stalo</a>
            </li>
            
            <li>
            <a href="{{ path('hymn') }}">Hymn</a>
        </li>


            <!-- B -->
             <li>
            <a href="{{ path('poemat-lublin') }}">Poemat o miescie Lublin</a>
            </li>
            
             <li>
            <a href="{{ path('baranku-wielkanocny') }}">Baranku Wielkanocny</a>
            </li>    
        <!-- B -->

            <!-- C -->
            <li>
                <a href="{{ path('jedzie-pociag') }}">Jedzie pociąg</a>
            </li>

            <!-- D -->
						<li>
							<a href="{{ path('dzik') }}">Dzik</a>
            </li>
						
            <li>
                <a href="{{ path('pawel-i-gawel') }}">Paweł i Gaweł</a>
            </li>
            <li>
                <a href="{{ path('do-laury') }}">Do Laury</a>
            </li>

            <!-- E -->
            <li>
                <a href="{{ path('Elegia-o-chlopcu-polskim') }}">Elegia o chlopcu polskim</a>
            </li>

            <li>
                <a href="{{ path('Eskimosek') }}">Eskimosek</a>
            </li>

            <!-- F -->
            <li>
            <a href="{{ path('w-ogrodzie') }}">W Ogrodzie</a>
            </li>


            <!-- G -->
            <li>
            <a href="{{ path('list-do-syna') }}">List do Syna</a>
            </li>
            <li>
            <a href="{{ path('dolosu') }}">Do Losu</a>
            </li>


            <!-- H -->
            <li>
                <a href="{{ path('lokomotywa') }}">Lokomotywa</a>
            </li>


            <!-- I -->
            <li>
            <a href="{{ path('zla-kolysanka') }}">Zła kołysanka</a>
            </li>

            <!-- J -->
            <li>
            <a href="{{ path('alegoria') }}">Alegoria</a>
            </li>

            <!-- K -->

            <li>
            <a href="{{ path('carpe-diem') }}">Carpe diem</a>
            </li>
            <!-- L -->

						<li>
							<a href="{{ path('len') }}">Leń</a>
            </li>

            <!-- M -->
            <li>
                <a href="{{ path('moja-piosnka') }}">Moja piosnka (II)</a>
            </li>
            <li>
                <a href="{{ path('moja-pieszczotka') }}">Moja pieszczotka</a>
            </li>

            <!-- N -->

        <li>
            <a href="{{ path('pierwiosnek') }}">pierwiosnek</a>
        </li>

            <!-- O -->
            <li>
                <a href="{{ path('osiel-i-pies')}}">Osieł i pies</a>
            </li>

            <li>
               <a href="{{ path('Oprzyjdz') }}">O przyjdz</a>
            </li>
            
            
            
            
            <li>
                <a href="{{ path('oda') }}">Oda do Radosci</a>
            </li>
            
            <li>
               <a href="{{ path('Sam') }}">Sam</a>
            </li>

            <!-- P -->
            <li>
                <a href="{{ path('poczekaj') }}">poczekaj</a>
            </li>

            <!-- Q -->


            <!-- R -->
             <li>
                <a href="{{ path('rzepka') }}">Rzepka</a>
            </li>
            <li>
                <a href="{{ path('Kotek') }}">Kotek</a>
            </li>


            <!-- S -->

            <li>
                <a href="{{ path('ginsberg') }}">Allen Ginsberg - America</a>
            </li>

            <!-- T -->

            <li>
                <a href="{{ path('testament-moj') }}">Testament mój</a>
            </li>

            <!-- U -->


            <!-- V -->
            <li>
                <a href="{{ path('bambo') }}">Bambo</a>
            </li>


            <!-- W -->
            <li>
                <a href="{{ path('wilczek') }}">Wilczek</a>
            </li>
            <!-- X -->


            <!-- Y -->

            <li>
                <a href="{{ path('kara-smierci') }}">Kara śmierci...</a>
            </li>






            <li>
                <a href="{{ path('z-glowa-na-karabinie') }}">Z głową na karabinie...</a>
            </li>


            <!-- Z -->
            
            <li>
                <a href="{{path('zegarek') }}"> Jan Brzechwa Zegarek...</a>
            </li>
            
            <li>
                <a href="{{ path('rozum-i-wiara') }}">Rozum i wiara</a>
            </li>
            <!--charkot-->
            <li>
                <a href="{{ path('zima-miejska') }}">Przeszły dżdże wiosny, zbiegło skwarne lato</a>
            </li>
            


        </ul>
    </nav>


        {% block body %}{% endblock %}

    <footer>Version: 0.3.0</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
